---
import Layout from '~/layouts/Layout.astro';
import NextStep from '~/components/widgets/NextStep.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Ab wann in Fremdbetreuung / Kindergarten?" step={{ number: '5' }}>
    <p>🚧 In Arbeit, mehr Infos ergänzen 🚧</p>
    <p>
      Das Thema "Ab wann Kleinkinder in die Fremdbetreuung eingewöhnen" ist — so scheint es mir
      zumindest nach kurzer Recherche — höchst umstritten. Es hilft hier, als Paar frühzeitig
      darüber zu sprechen - weil es auch für die Karenzplanung eine zentrale Frage ist.
    </p>
    <p>
      Warum ist diese Frage so wichtig für die Karenzplanung? Da das einkommensabhängige
      Kinderbetreuungsgeld 14 Monate nach Geburt endet, stellt sich die Frage wie das Kind im Alter
      von 1 Jahr und zwei Monaten nun betreut wird, wenn beide Eltern wieder arbeiten gehen möchten.
      Beziehungsweise aus finanziellen Gründen wieder arbeiten gehen müssen.
    </p>
    <p>
      <em
        >Die Alternativen zur Fremdbetreuung in der Kindergarten-Gruppen sind die <a
          href="/elternteilzeit-20-20/"
          class="underline">Eltern-Teilzeit von Mutter und Vater im 20h/20h-Modell</a
        >, die <a href="/unbezahlte-karenz/" class="underline">unbezahlte Karenz</a>, Großeltern,
        Betreuung mit einer Tagesmutter/vater in kleineren Gruppen, o.ä.</em
      >
    </p>
    <p>
      Wie emotional aufgeladen die Debatte ist, zeigt ein prominentes Beispiel aus den Medien,
      welches bei vielen Eltern direkt Schuldgefühle auslösen kann. Die Psychologin Stefanie Stahl
      äußerte sich hier recht drastisch:
    </p>

    <blockquote>
      <p>
        Für die Gehirnentwicklung eines Kindes ist es nicht gut, wenn es mit unter zwei Jahren in
        die Kita gegeben wird.
      </p>
    </blockquote>

    <p>
      Solche Pauschalaussagen wiegen schwer – doch sie bilden nur einen Teil der wissenschaftlichen
      Diskussion ab. Ein Faktencheck des <em>Stern</em> rückt die Perspektive wieder gerade und befragt
      dazu verschiedene Entwicklungspsycholog:innen:
    </p>
    <blockquote>
      <p>
        Die richtige Entscheidung – da sind sich die Kleinkindpädagogin Susanne Mierau, der
        Kinderarzt Herbert Renz-Polster sowie die Entwicklungspsychologen Moritz Daum und Stephanie
        Wermelinger einig – gibt es nicht. Eines ist jedoch klar: Pauschal zu sagen, es würde
        Kindern schaden, in den ersten beiden Lebensjahren eine Kita zu besuchen, ist falsch.
      </p>
      <cite
        ><a
          href="https://www.psychologie.uzh.ch/dam/jcr:6b8c6370-f44c-4655-9a3e-b3e06f45ddf7/231124_Stefanie%20Stahls%20Aussagen%20im%20Faktencheck_%20Schadet%20die%20Kita%20einem%20Kind_%20_%20STERN.de.pdf"
          >PDF (UZH)</a
        > / <a
          href="https://www.stern.de/gesellschaft/kita-eingewoehnung-unter-zwei-jahren--schaedlich-fuer-das-kind--34225320.html"
          >Original-Artikel</a
        ></cite
      >
    </blockquote>
    <p>
      Wichtiger als das bloße Alter ist laut Medienberichten oft die Qualität der Betreuung. Ein
      guter Betreuungsschlüssel, eine sensible Eingewöhnung und eine stabile Bindung zu Hause können
      Stressfaktoren massiv abfedern:
    </p>
    <blockquote>
      <p>
        Eingewöhnung bedeutet für die Kinder Stress... "In den ersten Wochen der Eingewöhnung erhöht
        sich das Stresshormon Cortisol"... Mit welchem Alter Kinder am besten eingewöhnt werden
        sollten? Dazu kann weder die Pädagogin noch die Entwicklungspsychologin eine Empfehlung
        abgeben... Mehr Personal ist wichtig.
      </p>
      <cite
        ><a
          href="https://www.derstandard.at/story/2000144233864/mama-geht-arbeiten-aber-was-macht-es-mit-den-kleinen"
          >derStandard</a
        ></cite
      >
    </blockquote>
    <p>
      Es finden sich allerdings auch Stimmen, die Vorteile einer Fremdbetreuung unterstreichen —
      wenn die Rahmenbedingungen stimmen (<a
        href="https://www.derstandard.at/story/2000145323610/geht-es-fremdbetreuten-kindern-wirklich-schlechter"
        >derStandard</a
      >).
    </p>
    <p>
      Im Bundesland Niederösterreich ist es beispielsweise aber erst möglich, das Kind ab dem 2.
      Lebensjahr in den Kindergarten zu schicken:
    </p>
    <blockquote>
      <p>
        Frühestens ab dem vollendeten 2,5. Lebensjahr. Ab September 2024 ist eine Aufnahme von
        Kinder ab Vollendung des 2. Lebensjahres möglich.
      </p>
      <cite
        ><a
          href="https://www.noe.gv.at/noe/Kindergaerten-Schulen/Elternfragen_zum_Thema_Kindergarten.html"
          >noe.gv.at</a
        ></cite
      >
    </blockquote>
    <p>Die Stadt Wien hat so eine minimale Alters-Grenze nicht:</p>
    <blockquote>
      <p>
        Laut Statistik Austria befindet sich jedes dritte Kind (29,1 Prozent) zwischen null und zwei
        Jahren in Fremdbetreuung, der Großteil davon in Wien (44,3 Prozent)...
      </p>
      <cite
        ><a
          href="https://www.derstandard.at/story/2000144233864/mama-geht-arbeiten-aber-was-macht-es-mit-den-kleinen"
          >derStandard</a
        ></cite
      >
    </blockquote>
    <p>
      Hier liegt eine weitere Krux: Diese Entscheidung (und aufwändige Recherche) ist keine leichte
      für Neu-Eltern, wenn sie eigentlich "nur mal schnell" ihre Karenzzeit planen wollen.
    </p>
    <p>
      Letztlich gibt es jedoch kein universelles 'Richtig'. Die beste Lösung ist die, die für euer
      individuelles Familiensystem, die Entwicklung eures Kindes, eure Werte - und eure finanzielle
      Realität - am besten funktioniert.
    </p>
  </ContentPage>
  <NextStep number="6" label="Kinderbetreuungsgeld-Antrag stellen" href="/antrag-stellen/" />
</Layout>
