---
import Layout from '~/layouts/Layout.astro';
import NextStep from '~/components/widgets/NextStep.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Ab wann in Fremdbetreuung / Kindergarten?" step={{ number: '5' }}>
    <p>🚧 In Arbeit, mehr Infos ergänzen 🚧</p>
    <p>
      Das Thema "Ab wann Kleinkinder in die Fremdbetreuung eingewöhnen / geben" ist — so scheint es
      mir zumindest nach kurzer Recherche — höchst umstritten. Da das einkommensabhängige
      Kinderbetreuungsgeld bspw. 14 Monate nach Geburt endet, stellt sich die Frage wie das Kind im
      Alter von 1 Jahr und 2 Monaten nun betreut wird wenn die Eltern wieder arbeiten gehen.
    </p>
    <p>
      <em
        >Die Alternativen zur Fremdbetreuung in der Kindergarten-Gruppen sind die <a
          href="/elternteilzeit">Eltern-Teilzeit</a
        > (bspw. beide 20h/Woche arbeiten — abwechselnd vormittags und nachmittags), Großeltern, Betreuung
        mit einer Tagesmutter/vater in kleineren Gruppen, o.ä. Good to know: Eltern-Teilzeit kann auch
        "Lage der Arbeitszeiten" ändern heißen, nicht zwangsläufig Reduzieren der Arbeitsstunden um mindestens
        20%. Beides geht auch.</em
      >
    </p>
    <p>Deutschlands bekannteste Psychologin, Stefanie Stahl äußerte hierzu drastisch:</p>
    <blockquote>
      <p>
        Für die Gehirnentwicklung eines Kindes ist es nicht gut, wenn es mit unter zwei Jahren in
        die Kita gegeben wird.
      </p>
    </blockquote>
    <p>Der Stern befragt in einem Faktencheck u.a. Entwicklungspsycholog:innen:</p>
    <blockquote>
      <p>
        Die richtige Entscheidung – da sind sich die Kleinkindpädagogin Susanne Mierau, der
        Kinderarzt Herbert Renz-Polster sowie die Entwicklungspsychologen Moritz Daum und Stephanie
        Wermelinger einig – gibt es nicht. Eines ist jedoch klar: Pauschal zu sagen, es würde
        Kindern schaden, in den ersten beiden Lebensjahren eine Kita zu besuchen, ist falsch.
      </p>
      <cite
        ><a
          href="https://www.psychologie.uzh.ch/dam/jcr:6b8c6370-f44c-4655-9a3e-b3e06f45ddf7/231124_Stefanie%20Stahls%20Aussagen%20im%20Faktencheck_%20Schadet%20die%20Kita%20einem%20Kind_%20_%20STERN.de.pdf"
          >PDF (UZH)</a
        > / <a
          href="https://www.stern.de/gesellschaft/kita-eingewoehnung-unter-zwei-jahren--schaedlich-fuer-das-kind--34225320.html"
          >Original-Artikel</a
        ></cite
      >
    </blockquote>
    <p>
      Bzgl. Kindergarten: Große Gruppen können für kleine Kinder Stress bedeuten, klare Empfehlungen
      finden sich kaum online. Außer: Das Risiko für Stress ist hoch, je kleiner die Kinder sind und
      je schlechter die Betreuung / der Betreuungsschlüssel.
    </p>
    <blockquote>
      <p>
        Eingewöhnung bedeutet für die Kinder Stress... "In den ersten Wochen der Eingewöhnung erhöht
        sich das Stresshormon Cortisol"... Mit welchem Alter Kinder am besten eingewöhnt werden
        sollten? Dazu kann weder die Pädagogin noch die Entwicklungspsychologin eine Empfehlung
        abgeben... Mehr Personal ist wichtig.
      </p>
      <cite
        ><a
          href="https://www.derstandard.at/story/2000144233864/mama-geht-arbeiten-aber-was-macht-es-mit-den-kleinen"
          >derStandard</a
        ></cite
      >
    </blockquote>
    <p>
      Es finden sich allerdings auch Stimmen, die Vorteile einer Fremdbetreuung unterstreichen —
      wenn die Rahmenbedingungen stimmen (<a
        href="https://www.derstandard.at/story/2000145323610/geht-es-fremdbetreuten-kindern-wirklich-schlechter"
        >derStandard</a
      >).
    </p>
    <p>
      In Niederösterreich ist es bspw. aber erst möglich, das Kind ab dem 2. Lebensjahr in den
      Kindergarten zu schicken:
    </p>
    <blockquote>
      <p>
        Frühestens ab dem vollendeten 2,5. Lebensjahr. Ab September 2024 ist eine Aufnahme von
        Kinder ab Vollendung des 2. Lebensjahres möglich.
      </p>
      <cite
        ><a
          href="https://www.noe.gv.at/noe/Kindergaerten-Schulen/Elternfragen_zum_Thema_Kindergarten.html"
          >noe.gv.at</a
        ></cite
      >
    </blockquote>
    <p>Die Stadt Wien hat so eine minimale Alters-Grenze nicht:</p>
    <blockquote>
      <p>
        Laut Statistik Austria befindet sich jedes dritte Kind (29,1 Prozent) zwischen null und zwei
        Jahren in Fremdbetreuung, der Großteil davon in Wien (44,3 Prozent)...
      </p>
      <cite
        ><a
          href="https://www.derstandard.at/story/2000144233864/mama-geht-arbeiten-aber-was-macht-es-mit-den-kleinen"
          >derStandard</a
        ></cite
      >
    </blockquote>
    <p>
      Hier liegt eine weitere Krux: Diese Entscheidung (und aufwändige Recherche) ist keine leichte
      für Neu-Eltern, wenn sie eigentlich nur mal kurz ihre Karenzzeit planen wollen. Denn es geht
      ja ganz stark um das Wohlbefinden des zukünftigen Nachwuchses.
    </p>
  </ContentPage>
  <NextStep number="6" label="Kinderbetreuungsgeld-Antrag stellen" href="/antrag-stellen/" />
</Layout>
