---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
import NextStep from '~/components/widgets/NextStep.astro';
---

<Layout>
  <ContentPage title="Antrag stellen" step={{ number: '6' }}>
    <p>
      Die gute Nachricht zuerst, der Antrag auf Kinderbetreungsgeld hat nur vier Seiten. Hier findet
      du den Antrag auch als PDF-Version:
      <ul>
        <li>
          <a
            href="https://www.gesundheitskasse.at/cdscontent/?contentid=10007.879630&portal=oegkportal"
            class="underline">Anspruch und Antrag - gesundheitskasse.at (ÖGK)</a
          >
        </li>
      </ul>
    </p>
    <p>Du kannst ihn zudem auch digital ausfüllen.</p>
    <p>
      Wenn du dir das einkommensabhängige Kinderbetreungsgeld mit deiner Partnerin/deinem Partner
      aufteilst, dann reicht ihr zwei Anträge ein: Zuerst das Elternteil, das die erste Karenz nimmt
      - danach reicht das zweite Elternteil ein den zweiten Antrag ein.
    </p>
    <p>
      Wichtig: Lasse dich vor Antragsstellung unbedingt kostenfrei bei Arbeiterkammer, ÖGK oder
      anderen Stellen <a href="/planung-ueberpruefen/" class="underline">beraten</a> - damit dir kein
      Geld/Förderung entgeht!
    </p>
  </ContentPage>
  <NextStep number="7" label="Beim AK Elternkalender registrieren" href="/ak-elternkalender/" />
</Layout>
