---
import Layout from '~/layouts/Layout.astro';
---

<Layout>
  <section class="content">
    <header class="mt-10 space-y-4 text-center">
      <h1 class="text-3xl font-semibold text-slate-900">Antrag stellen</h1>
    </header>

    <div class="mx-auto prose mt-6 max-w-4xl space-y-10">
      <p>🚧 Inhalt in Arbeit 🚧</p>
    </div>
  </section>
</Layout>
