---
import Layout from '~/layouts/Layout.astro';
---

<Layout>
  <section class="content">
    <header class="mt-10 space-y-6 text-center">
      <h1 class="text-3xl font-semibold text-slate-900">
        Arbeitssuchend & "Karenz"?
      </h1>
    </header>

    <div class="mx-auto prose mt-6 max-w-3xl">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>Du bist gerade arbeitssuchend/arbeitslos?</p>
      <p>
        Falls dein/e Partner/in Anspruch auf einkommens&shy;abhängiges Kinder&shy;betreuungs&shy;geld
        hat, dann kannst du den Basissatz <a href="/sonderleistung-1/">Sonderleistung 1</a>
        beziehen. Damit bekommt man zumindest ca. 1.100 € / Monat.
      </p>
      <p>
        <strong>Wichtig:</strong> Während du Sonderleistung 1 bekommst, musst du dich vom AMS
        Arbeitslosengeld abmelden. Ein gleichzeitiger Bezug ist nicht möglich.
      </p>
      <p>
        Auch eine gute Nachricht bzgl. Arbeitslosengeld: Mit Kind hast du Anspruch auf
        Familienzuschlag.
      </p>
    </div>
  </section>
</Layout>
