---
import Layout from '~/layouts/Layout.astro';
---

<Layout>
  <section class="content">
    <header class="mt-10 space-y-6">
      <h1 class="text-3xl font-semibold text-slate-900">
        Registriert euch beim AK Elternkalender
      </h1>
    </header>

    <div class="mx-auto prose mt-6 max-w-3xl">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>
        In Zukunft wird es einige Fristen geben, die ihr beachten müsst. Damit euch keine
        durchrutscht, hilft der Elternkalender der Arbeiterkammer. Registriert euch am besten noch
        heute!
      </p>
      <p>
        <a
          href="https://elternkalender.arbeiterkammer.at/"
          target="_blank"
          rel="noopener noreferrer"
          >Zum AK Elternkalender →</a
        >
      </p>
    </div>
  </section>
</Layout>
