---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Registriert euch beim AK Elternkalender">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>
        In Zukunft wird es einige Fristen geben, die ihr beachten müsst. Damit euch keine
        durchrutscht, hilft der Elternkalender der Arbeiterkammer. Registriert euch am besten noch
        heute!
      </p>
      <p>
        <a
          href="https://elternkalender.arbeiterkammer.at/"
          target="_blank"
          rel="noopener noreferrer"
          >Zum AK Elternkalender →</a
        >
      </p>
  </ContentPage>
</Layout>
