---
import Layout from '~/layouts/Layout.astro';
---

<Layout>
  <section class="content">
    <header class="mt-10 space-y-6 text-center">
      <h1 class="text-3xl font-semibold text-slate-900">
        Ab wann in Fremdbetreuung / Kindergarten?
      </h1>
    </header>

    <div class="mx-auto prose mt-6 max-w-3xl">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>
        Diese Seite wird gerade ausgearbeitet. Eine Sammlung an Links zur Frage der Fremdbetreuung
        findet ihr aktuell in der <a href="/faq/#empfohlene-fremdbetreuung">FAQ</a>.
      </p>
    </div>
  </section>
</Layout>
