---
import Layout from '~/layouts/Layout.astro';
import NextStep from '~/components/widgets/NextStep.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Ab wann in Fremdbetreuung / Kindergarten?">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>
        Diese Seite wird gerade ausgearbeitet. Eine Sammlung an Links zur Frage der Fremdbetreuung
        findet ihr aktuell in der <a href="/faq/#empfohlene-fremdbetreuung">FAQ</a>.
      </p>
  </ContentPage>
  <NextStep number="6" label="Beim AK Elternkalender registrieren" href="/elternkalender/" />
</Layout>
