---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Pensionssplitting">
    <p>🚧 Inhalt in Arbeit 🚧</p>
  </ContentPage>
</Layout>
