---
import Layout from '~/layouts/Layout.astro';
import NextStep from '~/components/widgets/NextStep.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Eure Planung kostenfrei überprüfen lassen – bevor ihr etwas beantragt">
      <p>
        Ihr habt die grobe Planung gemacht? Oder wollt euch zu Beginn informieren? Die
        Arbeiterkammer wie auch die ÖGK bieten <strong>kostenfreie Beratungen</strong> an. Nutzt
        diese unbedingt bevor ihr einen Antrag abschickt, sodass euch kein Geld verloren geht.
      </p>

      <p>
        Die Arbeiterkammern der jeweiligen Bundesländer bieten ebenso oft regelmäßig
        Informationsveranstaltungen an. Falls ihr nichts auf Anhieb findet, fragt am besten einfach
        kurz bei eurer Arbeiterkammer nach.
      </p>

      <h3>Beratungsstellen im Überblick</h3>
      <ul>
        <li><a href="/ak-beratung/">AK-Beratung</a></li>
        <li><a href="/oegk-beratung/">ÖGK-Beratung</a></li>
        <li><a href="/sonstige-beratungen/">Sonstige Beratungen</a></li>
        <li><a href="/feministische-beratung/">Feministische Beratung?</a></li>
      </ul>
  </ContentPage>
  <NextStep number="5" label="Ab wann in Fremdbetreuung / Kindergarten?" href="/fremdbetreuung/" />
</Layout>
