---
import Layout from '~/layouts/Layout.astro';
---

<Layout>
  <section class="content">
    <header class="mt-10 space-y-6 text-center">
      <h1 class="text-3xl font-semibold text-slate-900">
        Sonderleistung 1
      </h1>
    </header>

    <div class="mx-auto prose mt-6 max-w-3xl">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>
        Diese Seite wird gerade ausgearbeitet.
      </p>
      <p>
        
      </p>
    </div>
  </section>
</Layout>
