---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Sonderleistung 1">
      <p>🚧 Inhalt in Arbeit 🚧</p>
      <p>Diese Seite wird gerade ausgearbeitet.</p>
      <p>
        Wenn dein Partnerin/dein Partner Anspruch auf einkommensabhängiges Kinderbetreuungsgeld hat
        (<a href="/eakbg-anspruch" class="underline">182-Tage-Regel</a>), du aber nicht - dann hast
        du Anspruch auf einen Basissatz (ca. 1'100€/Monat) Kinderbetreuungsgeld. Die sogenannte
        Sonderleistung 1.
      </p>
      <p>
        Diese Basisleistung kannst du beziehen, während du...
        <ul>
          <li>arbeitest und in Karenz gehst</li>
          <li>
            oder arbeitslos bist (Wichtig: Während du Sonderleistung 1 bekommst, musst du dich vom
            AMS Arbeitslosengeld abmelden. Ein gleichzeitiger Bezug ist nicht möglich.)
          </li>
        </ul>
      </p>
      <p>
        Du beantragst ganz normal einkommensabhängiges Kinderbetreuungsgeld beim ÖGK, die Prüfung
        ergibt dann dass du nur Anspruch auf Sonderleistung 1 hast.
      </p>
      <p>Während dieser Zeit bist du auch krankenversichert bei der ÖGK.</p>
      <blockquote>
        <p>
          Erfüllt ein Elternteil nicht das Erwerbstätigkeitserfordernis, so gebührt bei Erfüllung
          sämtlicher anderer Anspruchsvoraussetzungen auf Antrag ein einkommensabhängiges
          Kinderbetreuungsgeld in Höhe von 41,14 Euro täglich (Sonderleistung I).
        </p><cite
          ><a
            href="https://www.bundeskanzleramt.gv.at/agenda/familie/kinderbetreuungsgeld/basisinformationen-kinderbetreuungsgeld/einkommensabhaengiges-kinderbetreuungsgeld.html"
            >Bundeskanzleramt</a
          ></cite
        >
      </blockquote>
      <blockquote>
        <p>
          Was ist, wenn nur ein Elternteil die Voraussetzungen für das eaKBG erfüllt? Sie wollen das
          eaKBG nutzen, aber einer der beiden Elternteile erfüllt die Anspruchsvoraussetzungen
          nicht? Oder liegt der Tagsatz eines Elternteiles unter 41,14€ (2025)? Dann kann dieser
          Elternteil auf eine Sonderleistung umsteigen, die der Dauer des KBG entspricht. Der
          Tagsatz dafür beträgt 41,14€ (2025). Der andere Elternteil, der die
          Anspruchsvoraussetzungen erfüllt, kann trotzdem das eaKBG beziehen.
        </p><cite
          ><a
            href="https://www.arbeiterkammer.at/beratung/berufundfamilie/kinderbetreungsgeld/Kinderbetreuungsgeld.html"
            >arbeiterkammer.at</a
          ></cite
        >
      </blockquote>

      <h3>
        Recht auf Eltern-Teiltzeit, während der Partner/die Partnerin Sonderleistung 1 bezieht?
      </h3>
      <p>
        Nach Infos aus meinen Beratungsgesprächen, zählt das Beziehen von Sonderleistung 1 nicht als
        "echte" Karenz. Der Partner/die Partnerin kann somit schon das Recht auf Eltern-Teilzeit
        wahrnehmen, auch wenn der andere/die andere noch Sonderleistung 1 bezieht. Aber bitte vorher
        nochmal bei AK nachfragen.
      </p>
  </ContentPage>
</Layout>
