---
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Sonstige Beratungen">
      <p>
        Neben der <a href="/ak-beratung/">Arbeiterkammer</a> und der
        <a href="/oegk-beratung/">ÖGK</a> gibt es noch weitere Anlaufstellen, die werdende Eltern
        rund um Karenz, Papamonat und Vaterrolle unterstützen.
      </p>

      <h3>Online-Workshop für werdende Väter (papainfo.at)</h3>
      <ul>
        <li>
          <a href="https://www.papainfo.at/#termine" target="_blank" rel="noopener noreferrer"
            >papainfo.at – Termine &amp; Online-Workshop für werdende Väter</a
          >
        </li>
      </ul>
  </ContentPage>
</Layout>
