---
// Ported from src/routes/ueber/+page.svelte (pure markup).
import Layout from '~/layouts/Layout.astro';
import ContentPage from '~/components/widgets/ContentPage.astro';
---

<Layout>
  <ContentPage title="Über">
    <p>
      Eigentlich wollte ich als Papa möglichst „halbe-halbe“ machen bei der Karenz, aber die
      Realität hat mich bei der Planung schnell eingeholt: Mein Partnerin wollte gern 12 Monate
      Karenz zu Beginn übernehmen, somit blieben mir - auf den ersten Blick - nur die 2
      verbleibenden Monate einkommensabhängiges Kinderbetreuungsgeld. Zu alternativen Möglichkeiten
      wie der <a href="/unbezahlte-karenz/" class="underline"
        >Karenzverlängerung durch unbezahlte Karenz-Monate</a
      > oder die <a href="/elternteilzeit-20-20/" class="underline">20h/20h Eltern-Teilzeit</a> im Anschluss
      an die Karenz fand ich medial fast gar keine Informationen. Und statt einer Beratung, die Gleichberechtigung
      ("Equal Care") ebenso in den Fokus rückt, ging es primär darum, wie man „die meiste Förderung rausholt“.
      Aus diesem Grund habe ich den <a href="/eakbg-planer/" class="underline">eaKBG-Planer</a> gebaut,
      um verschiedene Aufteilungen interaktiv und visuell erfahrbar zu machen. Was ursprünglich als simpler
      Prototyp begann, ist mittlerweile zu dieser ganzen Informations-Webseite gewachsen. Ich möchte damit
      meinen kleinen Teil dazu beitragen, dass Väter nicht nur aus Unwissenheit oder wegen mangelnden
      Informationen zu den bisher üblichen zwei Mindestmonaten Väterkarenz greifen - während die Mütter
      12 oder mehr Monate übernehmen.
    </p>

    <h3>Dieses Tool sollte die AK oder eine NGO betreiben!</h3>
    <p>
      Dieses Projekt ist ein temporärer Prototyp. Ich habe es als Privatperson entwickelt, um zu
      zeigen, dass ein Online-Tool für die Karenzplanung einfach umsetzbar ist. Ein solches Tool
      fehlt aktuell dringend, die Karenzplanung ist unnötig kompliziert.
    </p>
    <p>
      Meiner bescheidenen Ansicht nach sollte eine öffentliche Behörde, die Arbeiterkammer oder eine
      NGO ein solches Tool offiziell betreiben. Insbesondere, um mehr Gleichberechtigung bei der
      Kinderbetreuung zu gewährleisten: Aktuell nehmen Väter in Österreich nur die minimal
      erforderlichen 2 Monate Karenz - wenn überhaupt. Ich behaupte: Manchmal aus Unwissenheit, dass
      mehr Monate überhaupt möglich wären. So zeigen Videos der AK nur Beispiele mit "2 Monaten
      Väterkarenz". Ein Online-Tool kann vielfältige Wege aufzeigen.
    </p>
    <p>
      To be fair: Der Sozialstaat Österreich fördert allerdings auch nur 12+2 Monate mit gutem Geld
      und wenig Einkommensverlust, für eine längere Karenz muss man sich eine "unbezahlte Karenz"
      leisten können - diese Problematik wird mit diesem Tool ebenso sichtbar gemacht. Die
      Eltern-Teilzeit im 20h/20h-Modell, bei welcher Mutter und Vater 20h/Woche arbeiten und sich
      die Betreuung teilen, stellt allerdings eine Alternative für Gleichberechtigung dar.
    </p>
    <p>
      Und natürlich müssen auch die Führungskräfte in Unternehmen Verantwortung übernehmen - leider
      gibt es auch heute noch Diskriminierung, Drohungen - bis hin zum späteren Arbeitsplatzverlust
      (siehe u.a. <a href="https://www.spoe.at/elternkarenz-ergebnisse/"
        >SPÖ-Umfrage zu Väterkarenz</a
      >).
    </p>

    <h3>Die Entstehungsgeschichte</h3>

    <h4>Ganze Männer machen halbe-halbe?</h4>
    <p>
      Als werdender Vater wollte ich nicht zu den Männern gehören, die in den Medien kritisiert
      werden weil sie gar keine oder nur sehr wenig Karenz (2 Monate) in Anspruch nehmen:
    </p>
    <blockquote>
      <p>
        In Österreich wird immer noch das sogenannte „Male-Breadwinner-Modell" praktiziert: Der Mann
        ist der Ernährer der Familie in einem Vollzeit-Arbeitsverhältnis, die Frau liefert zu und
        schupft den Haushalt.
      </p>

      <p>
        Kindererziehung ist bei uns Frauensache. <strong
          >Nur 16 Prozent der Väter gehen in Babykarenz. Von diesen ohnehin sehr wenigen
          Karenzvätern bleibt mehr als die Hälfte nur die Minimalzahl von zwei Karenzmonaten beim
          Kind.
        </strong>
      </p>
      <cite
        >Vielleicht sollten sich Österreichs Frauen an den Isländerinnen ein Vorbild nehmen – <a
          href="https://www.instagram.com/p/DNAq95nst_a">Nina Horaczek (falter / Instagram)</a
        ></cite
      >
    </blockquote>
    <p>"Ganze Männer machen halbe-halbe" - mit diesem Anspruch startete ich meine Planung.</p>
    <h4>Ganz so einfach ist es nicht!?</h4>
    <p>
      Schnell bemerkte ich jedoch, dass die Kritik mit "Väter nehmen nur 2 Monate" zwar im Kern
      berechtigt ist - aber die Artikel oft nicht das gesamte Regelwerk dahinter erklären:
    </p>
    <p>
      Beim einkommensabhängingen Kinderbetreuungsgeld bekommen Eltern maximal 14 Monate
      Betreuungsgeld nach Geburt, 2 Monate muss der Vater minimal nehmen (sogenanntes "12+2").
      Danach kann man dieses Modell gar nicht fortsetzen - der Vater müsste noch einen weiteren Teil
      "unbezahlte Karenz" nehmen. Wozu sich aber wenig bis keine Informationen online finden.
      <br /><br />
      <i
        >(Einige Eltern gehen hier bspw. auch beide in Eltern-Teilzeit für 20h/Woche und teilen sich
        die Betreuung vormittags und nachmittags auf oder sie teilen sich danach die Betreuung auf
        anderen Wegen. Auch dies findet so gut wie keine Erwähnung in kritischen Artikeln meiner
        Erfahrung nach.)</i
      >
    </p>
    <h5>Bildungskarenz jetzt verboten nach Elternkarenz</h5>
    <p>
      Auch die Bildungskarenz wurde oft benutzt, um im zweiten Lebensjahr nach der Geburt noch
      Betreuung gewährleisten zu können wenn die 14 Monate vorbei waren - und die Eltern ihr Kind
      mit knapp einem Lebensjahr nicht direkt in eine Kindergarten-Gruppe bringen wollten. Was auch
      bspw. in Wien möglich ist, aber in Niederösterreich noch gar nicht gehen würde in diesem
      jungen Alter. <br />Diese Möglichkeit der Bildungskarenz "als Brücke zurück ins Erwerbsleben
      nach einem Kind" wird nun politisch verunmöglicht (siehe
      <a class="underline" href="https://www.moment.at/story/bildungskarenz-neu-weiterbildungszeit/"
        >moment.at</a
      >). Werdende Eltern müssen sich also neue Modelle überlegen.
    </p>
    <p>
      Es fehlten vor allem: Gute und verlässliche Infos, wie man als Vater die Karenz über die 14
      Monate Maximalzeit unbezahlt verlängert und alles organisiert.
    </p>

    <h4>Unbezahlte Karenz: Mitversichern bei unverheirateten Paaren - Fallstrick?! 🤯</h4>

    <p>
      Und so verbrachte ich den Papamonat damit, zu verstehen welche Modelle eigentlich möglich sind
      und wie man unbezahlte Karenz organisiert. Denn ich wollte nach 12 Monaten, die meine
      Partnerin nehmen wollte, nicht auch nur 2 Monate nehmen. Sondern mir zumindest ein paar Monate
      mehr Karenz mit unserem Kind ermöglichen, ohne daneben zu arbeiten. Rechtlich darf ich mich in
      den 2 Jahren nach der Geburt freistellen lassen, bei einer unbezahlten Karenz kann ich mich
      eigentlich relativ easy bei der Partnerin mitversichern - ich wurde jedoch von der
      Arbeiterkammer schnell darauf hingewiesen, dass es aktuell einen möglichen Fallstrick für die
      Mitversicherung bei unverheirateten Paaren gibt (Klausel „unbezahlte Haushaltsführung seit
      mindestens 10 Monaten"). Also nicht mal die ÖGK Mitversicherung war easy-peasy möglich in der
      unbezahlten Karenz - und im blödesten Fall muss man ja den vollen ÖGK Selbstversicherung
      bezahlen von ~500€/Monat 🤯
    </p>
    <p>
      <i
        >(Ich habe hierzu auch eine offizielle Anfrage an die Pressestelle der ÖGK gesendet mit
        Bitte um Klarstellung der Klausel, bisher leider unbeantwortet - sowie die Problematik bei
        einem AK Berater angesprochen, der es ins interne Feedbacksystem mitnehmen möchte.)</i
      >
    </p>
    <h4>Ab wann ist ein Kind bereit für die Kindergarten-Gruppe?</h4>
    <p>
      Kalt erwischt hat mich daher auch das Thema "Ab wann ist das Kind bereit für
      Kindergarten-Gruppen? / Ab wann ist es entwicklungspsychologisch sinnvoll?". Dieses Thema wird
      sowohl hochemotional diskutiert, es wird vieles pauschal gefordert (Bezüge zu Skandinavien),
      einiges widerspricht sich - und am Ende ist es natürlich eine zutiefst individuelle
      Entscheidung der Eltern - die auch oft mit der Frage des Einkommens zusammenhängt. Jedes Kind
      ist anders. <br /><br />Es gibt eine große Bandbreite an Modellen, wie Eltern die ersten Jahre
      mit Baby und Erwerbsarbeit organisieren. Mir war nicht bewusst, dass diese Entscheidung mit 14
      Monaten nach Ablauf des eaKBG ansteht - wenn man doch zuvor immmer von 2 Jahren Recht auf
      Karenz liest. Dies bezieht sich aber nur auf das Recht der Freistellung beim Arbeitgeber,
      nicht die finanzielle Förderung durch den Sozialstaat. Was hier fehlt: Einfache
      Beschreibungen, welche verschiedenen Wege Eltern gehen könnten.
    </p>

    <h3>Ganze Männer müssen ... vor allem erstmal sehr viel recherchieren!</h3>
    <p>Long story short: Ganze Männer machen halbe halbe - nicht so einfach aktuell!</p>
    <p>
      Es finden sich online einfach sau wenig Informationen dazu, wie man vom klassischen 12+2
      abweicht. Ich habe einen Bachelor- und Master-Abschluss in Geisteswissenschaften, komplexe
      Thematiken und lange Texte sind mir nicht fremd - aber ich fand es extrem anstrengend, mir
      hier Klarheit und verlässliche Informationen zu beschaffen.
    </p>
    <p>
      Was aus meiner Sicht fehlt: A) Ein Ratgeber mit rotem Faden - statt Einzelbroschüren zu allen
      Einzelthemen wie Mutterschutz, Papamonat, Kinderbetreuungsgeld-Modellen, etc. B) eine
      feministisch orientierte Beratung für Eltern, die direkt möglichst gleichberechtig die
      Betreuung übernehmen wollen, C) bessere Visualisierungen und vor allem Erklärvideos, die
      Männer mit mehr als 2 Monaten Karenz-Anteilen erklären (wie es jetzt leider bei AK-Videos der
      Fall ist) - und D) ein Onlinetool, wo man mit dem/der Partner:in alles ausprobieren kann.
    </p>

    <p>
      Mit diesem Projekt möchte ich zumindest Punkt D) angehen und einen kleinen "Proof of concept"
      liefern. Mit der Hoffnung, dass der nächsten Mutter und dem nächsten frischgebackenen Vater
      nicht so der Kopf brummt - und ein klein wenig mehr Gleichberechtigung möglich ist.
    </p>
    <p>
      Und natürlich ist es großartig, dass Österreich ein Sozialstaat ist und es überhaupt
      Mutterschutz, Papamonat, staatliche Karenz-Förderungen & Co gibt. Aber: Luft nach oben ist
      immer!
    </p>
    <p>Kritisches Feedback ist sehr willkommen!</p>
  </ContentPage>
</Layout>
